.header {
  display: flex;
  background-color: hsl(0, 0%, 100%);
  align-items: center;
  justify-content: space-between;
  border-bottom: 5px solid hsl(220, 16%, 96%);
  padding: 0.7% 0px 0.7% 0px;

  .logo-container {
    margin-left: 15%;
    .app__logo {
      width: 100%;
      height: 20px;
    }
  }
  .btn {
    margin-right: 11.5%;
  }
}
