.slideNavbar {
  //   margin-left: -130%;
  align-items: center;
  justify-content: center;
  ul {
    list-style: none;

    li {
      a {
        text-decoration: none;
        margin-top: 100px;
      }
      a:hover {
        border-bottom: 2px green solid;
      }
    }
  }
}
