.slideNavbar {
  text-align: center;
  margin-right: 45%;
  ul {
    list-style: none;

    li {
      margin-bottom: 15%;

      a {
        text-decoration: none;
        justify-content: space-around;
      }
      a:hover {
        border-bottom: 2px green solid;
      }
    }
  }
}
