.content-header-container {
  display: flex;
  height: 87.3vh;
  overflow: hidden;
  // position: static;

  .content-header {
    flex: 0.5;
    padding: 10% 0% 3% 13%;

    .title {
      margin: 0;
      font-size: 35px;
    }
    .paragraph {
      font-size: 13px;
      margin-top: 9%;
    }

    .requestButton {
      margin-top: 9%;
    }
  }

  .sideImage {
    // overflow-y: hidden;
    flex: 1.2;

    // height: 100vh;
    // background-image: url(../../images/bg-intro-desktop.svg);
    // background-size: contain;
    // background-repeat: no-repeat;

    .b-image {
      // overflow-y: hidden;
      // overflow-x: hidden;

      // position: absolute;
      // width: 60%;
      // height: 125%;
      // top: -15%;
      // left: 50%;
      // z-index: -1;

      // width: 30%;
      // position: relative;
      // z-index: 5;
      // top: 60px;
      // left: -100px;

      // width: 140%;
      // height: 160%;
      // position: relative;
      // z-index: 1;
      // top: -40%;
      // left: -14%;

      // width: 30%;
      // position: relative;
      // z-index: 5;
      // top: 60px;
      // left: -100px;

      width: 113%;
      position: relative;
      height: 113%;
      z-index: 5;
      top: -27%;
      left: 230px;
    }
    .s-image {
      // overflow-y: hidden;
      // overflow-x: hidden;

      // position: absolute;
      // width: 50%;
      // height: 130%;
      // top: -3%;
      // left: 58.5%;
      // z-index: -1;

      // width: 30%;
      // position: relative;
      // z-index: 5;
      // top: 60px;
      // left: -100px;

      width: 65%;
      position: relative;
      z-index: 5;
      top: -131%;
      left: 380px;
    }
  }
}

.whyChooseUs {
  padding: 0px 7% 5% 13%;
  background-color: hsl(0, 0%, 98%);

  .easyBank {
    margin-top: -12.7%;
    padding-top: 10%;
  }
  p {
    font-size: 14px;
    justify-content: space-between;
    margin-top: 2%;
  }
}

.article {
  padding: 4% 6% 6% 11%;

  .latest {
    margin: 0px 0px 4% 2%;
    font-weight: lighter;
  }
}

.footer {
  background: hsl(233, 26%, 24%);
  color: #fff;
}
