.card {
  margin-left: 2%;

  .first-image,
  .sec-image,
  .third-image,
  .last-image {
    width: 100%;
    height: 145px;
  }

  .textContainer {
    padding: 15% 10% 5% 10%;
    margin-top: -13%;
    background: hsl(0, 0%, 98%);

    h6 {
      opacity: 35%;
    }

    h2 {
      font-size: 15px;
      margin-top: -8%;
    }

    h2:hover {
      color: hsl(136, 65%, 51%);
      cursor: pointer;
    }

    p {
      font-size: 13px;
      opacity: 75%;
    }
  }
}

.article-card-container {
  display: flex;
}
